# Entornos virtuales (¡Lo más importante para que no suba pesado!)
venv/
.venv/
env/
ENV/

# Archivos compilados y caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno y secretos
.env
.env.local

# Carpetas de configuraciones de editores de código (VS Code, PyCharm, etc.)
.vscode/
.idea/
*.swp

# Caché de otras herramientas de Python
.pytest_cache/
.ruff_cache/# Entornos virtuales (¡Lo más importante para que no suba pesado!)
venv/
.venv/
env/
ENV/

# Archivos compilados y caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno y secretos
.env
.env.local

# Carpetas de configuraciones de editores de código (VS Code, PyCharm, etc.)
.vscode/
.idea/
*.swp

# Caché de otras herramientas de Python
.pytest_cache/
.ruff_cache/